/* 登录的logo区域开始 */
.site-logo {
    width: 150px;
    height: 150px;
    margin: 50px 0 50px 350px;
    background: url("../img/login-img.jpg");
    background-size: cover;
}

/* 登录的logo区域结束 */
/* 登录的主体区域开始 */
.login-body {
    width: 980px;
    height: 370px;
    margin: 0 auto;
}

.login-body .login-img {
    width: 480px;
    height: 370px;
    margin-right: 115px;
}

.login-body .login-form {
    margin: 55px 100px 0 0;
    width: 270px;
    font-size: 14px;
}

.login-body .login-form .phone-input-wrapper,
.phone-input-password {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    padding: 0;
    border: 1px solid#aaa;
    background-color: #fff;
    margin: 8px 0;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.login-body .login-form .phone-input-wrapper input,
.phone-input-password input {
    line-height: 35px;
    border: none;
    padding-left: 5px;
    width: 81%;
}

.login-body .login-form .phone-input-wrapper input,
.phone-input-password input:focus {
    border: none;
    /* 在点击（聚焦）时移除边框 */
    box-shadow: none;
    /* 移除聚焦时的阴影 */
    outline: none;
}

.login-body .login-form .phone-input-password i {
    display: inline-block;
    width: 31px;
    height: 18px;
    background: url("../img/密码（关）.png");
    margin-left: 15px;
    margin-right: 13px;
}

.login-body .login-form .forgetpassword {
    font-size: 14px;
    text-align: right;
    margin-bottom: 15px;
}

.login-body .login-form .forgetpassword a {
    color: 06298F;
}

.login-body .login-form .loginin {
    color: #fff;
    width: 270px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #06298F;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.login-body .login-form .signup-guide {
    margin-top: 15px;
}

.login-body .login-form .signup-guide a {
    color: 06298F;
}

.password-strength {
    margin-left: 10px;
    font-size: 12px;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    display: inline-block;
    min-width: 60px;
    text-align: center;
}

.password-strength.weak {
    background-color: #ff0000;
}

.password-strength.medium {
    background-color: #ff9900;
}

.password-strength.strong {
    background-color: #00ff00;
}


/* 登录的主体区域结束 */